<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>about</title>
</head>
<body>
    <img src="/images/skeletor.jpg" alt="enemy"/>
    <h1>'In 187, Cannon Films produced a live-action film directed by Gary Goddard, Masters of the Universe, which featured Dolph Lundgren in the role of He-Man; it was a commercial failure.[3] In this film, Prince Adam was not seen at all; only He-Man was shown. This He-Man was much more aggressive than his 1980s TV-series counterpart, attacking with lasers, his sword and bare fists several times throughout the film. The film ended with a spectacular and violent clash with Skeletor, in which Skeletor was flung deep beneath Castle Grayskull into a pit filled with steaming liquid. The film ended with a post-credit scene in which Skeletor emerged from the liquid and proclaimed, "I'll be back!"'</h1>
</body>
</html>