<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>He-man</title>
</head>
<body>
    <h1>He-man</h1>
    <img src="/images/he-man.jpg" alt="hero"/>
    <p>"He-Man is a fictional superhero and the main character of the sword and sorcery-themed Masters of the Universe franchise, which includes a toy line, several animated television series, comic books and a feature film. He-Man is characterized by his superhuman strength. In most variations, he is the alter ego of Prince Adam. He-Man and his friends attempt to defend the realm of Eternia and the secrets of Castle Grayskull from the evil forces of Skeletor. In France and the francophone countries, this character is known as Musclor."</p>
    <a href="/work">See work Page</a>
    <a href="/about">See about Page</a>
</body>
</html>